<app-accordion title="Section 1a">
    <p>This is custom template content for Section 1</p>
</app-accordion>

<app-accordion title="Section 2">
    <form>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" class="form-control">
    </form>
</app-accordion>

<app-accordion title="Section 3">
    <select id="multiSelect" class="form-control" multiple>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
    </select>
</app-accordion>


<app-attendence></app-attendence>