<h1 class="dialog-title">Employee Details</h1>
<div class="dialog-form">
  <form [formGroup]="empForm">
    <div class="form-group">
      <label for="empId" class="form-label">EMP ID</label>
      <input type="text" class="form-control" id="empId" formControlName="empId" placeholder="Enter EMP ID" />
      <div *ngIf="empForm.get('empId')?.touched && empForm.get('empId')?.hasError('required')" class="text-danger">EMP ID is required</div>
    </div>

    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Name" />
      <div *ngIf="empForm.get('name')?.touched && empForm.get('name')?.hasError('required')" class="text-danger">Name is required</div>
    </div>

    <div class="form-actions">
      <button class="btn secondary" (click)="onCancel()">Cancel</button>
      <button class="btn primary" [disabled]="empForm.invalid" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
